.box{
    height:10px;
    background-color:black
}
.topbar 
{
    margin-top:70px;
    
}
.hea{
    background-color:#efefef;
    border:none;
    height:60px;

}
.logo-section
{
    background-color: #efefef;
    height: 50px;
}
.comp img {
    width: 130px;
    height: 100px;
    padding:10px;
}
.comp {
    border: 1px solid #efefef;
}

.parts {
    font-size: 12px;
    border: 1px solid #efefef;
}
.parts img{
    width:95px;
    height:80px;
}
.test
{
    border:1px solid blue;   
}
.marh5 {
    padding-top: 15px;
    font-weight: bold;
    font-size: 12px;
}
.nab a{
    color:red;
}
.boo {
    font-weight: bold;
    font-size: 12px;
}
.foo{
    color:white;

}